# ---------------- PYTHON ----------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------- VIRTUAL ENVIRONMENTS ----------------
.venv/
venv/
env/

# ---------------- SYSTEM FILES ----------------
.DS_Store
Thumbs.db

# ---------------- IDE SETTINGS ----------------
.idea/
.vscode/

# ---------------- LOGS ----------------
*.log

# ---------------- DATASETS ----------------
dataset/
dataset_isl/
features/
debug_results/

# ---------------- NUMPY / DATA FILES ----------------
*.npy
*.npz
*.csv

# ---------------- GENERATED REPORTS ----------------
*.pdf

# ---------------- MODEL FILES ----------------
# Uncomment if you want to ignore trained models

# *.h5
# *.keras

# ---------------- VIDEOS & IMAGES ----------------
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png

# ---------------- TEMP FILES ----------------
*.tmp
*.bak